body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #ffffff;
}

a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  font-family: "PT Sans", Arial, sans-serif;;
}

.columns {
  font-family: "Cuprum", Arial, sans-serif;
}

.site-navigation,
.columns {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #32425c;
}

.button-bookmarks:hover,
.button-basket:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.button-bookmarks:focus,
.button-bookmarks:active,
.button-basket:focus,
.button-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation,
.user-navigation,
.user,
.breadcrumbs {
  list-style: none;
}

.main-header-logo {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.number {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-header-logo:hover,
.logo-footer:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.main-header-logo:focus,
.main-header-logo:active,
.logo-footer:focus,
.logo-footer:active {
  background-color: #ba2732;
  color: #ffffff;
}

.button-basket-nav {
  background-color: #ee3643;
  color: #ffffff;
}

.catalog-main {
  background-color: #f2f6f8;
  color: #32425c;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-checkbox,
.filter-radio {
  background-color: #ffffff;
  color: #c5c5c5;
}

.filter-checkbox:hover,
.filter-radio:hover {
  color: #b5b5b5;
}

.filter-checkbox:focus,
.filter-radio:focus,
.filter-checkbox:active,
.filter-radio:active {
  color: #e9e9e9;
}

.breadcrumbs a,
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.catalog-items {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.catalog .button {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  color: #ffffff;
}

.entry,
.register {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.entry:hover,
.register:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.entry:focus,
.entry:active,
.register:focus,
.register:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.order,
.office {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background-color: #f1f5f7;
  text-decoration: underline;
}

.order:hover,
.office:hover {
  color: #ee3643;
  background-color: #f1f5f7;
}

.order:focus,
.order:active,
.office:focus,
.office:active {
  color: #c5cad0;
  background-color: #f1f5f7;
}

.columns {
  background-color: #293449;
  color: #ffffff;
}

.name-user {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.icon {
  color: #c5c5c5;
  background-color: #ffffff;
}

.name-user:hover {
  color: #000000;
  background-color: #ffffff;
}

.icon:hover {
  color: #32425c;
  background-color: #ffffff;
}

.name-user:focus,
.name-user:active,
.icon:focus,
.icon:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.site-navigation a,
.columns a {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
  color: #ffffff;
}

.site-navigation a:focus {
  background-color: #1d2739;
  color: #a8abaf;
}

.main-header {
  background-color: #f1f5f7;
}

.main-header h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color: #ee3643;
}

.number {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation input {
  background-color: #293449;
  color: #ffffff;
  border: none;
}

.user-navigation input:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.user-navigation input:focus {
  background-color: #ffffff;
  color: #000000;
}

.button-basket-nav:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.button-basket-nav:focus,
.button-basket-nav:active {
  background-color: #ba2732;
  color: rgba(255, 255, 255, 0.5);
}

.button-checkout {
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
  color: rgba(255, 255, 255, 0.5);
}

.button-checkout:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.button-checkout:focus,
.button-checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.container {
  background-color: #ffffff;
  color: #000000;
}

.company-work {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.container h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}

.button {
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.button:focus,
.button:active {
  background-color: #ba2732;
  color: #ffffff;
}

.logo-footer {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  box-shadow: 0px 5px rgb(181, 41, 51);
  box-sizing: border-box;
  height: 63px;
  width: 220px;
  text-align: center;
  padding-top: 18px;
}

.modal-message,
.modal-map {
  display: none;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-footer-nav {
  background-color: #32425c;
  color: #ffffff;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-nav li {
  list-style: none;
}

.footer-nav a {
  color: #ffffff;
}

.footer-site-nav a {
  color: #ffd180;
}

.footer-contacts {
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-social {
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-social li {
  list-style: none;
}

.footer-social .button {
  color: #f1c77c;
}

.main-footer-nav a:hover {
  text-decoration: underline;
}

.main-footer-nav a:focus,
.main-footer-nav a:active {
  color: #ad956f;
}

.footer-link {
  color: #ffd180;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:focus,
.footer-link:active {
  color: #ee3643;
}

.social-buttons {
  text-align: center;
}

.social-button {
  background-color: #212a3a;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

/* ----- Сеточные стили ----- */
/*------подсветка-------*/
/** {
  background: rgba(255, 0, 0, 0.3);
}*/
/*------верхний хедер начало----*/
.main-header {
  margin-bottom: 60px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation a {
  display: block;
  justify-content: space-between;
  padding: 11px 22px;
  vertical-align: middle;
  max-width: 150px;
}

.main-header-logo {
  height: 41px;
  box-shadow: 0px 5px rgb(181, 41, 51);
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.site-navigation .active {
  background-color: #293449;
}

.user-navigation .button-bookmarks {

  padding-left: 50px;
  position: relative;
}

.user-navigation .button-basket {

  padding-left: 50px;
  position: relative;
}

.user-navigation .button-basket-nav {

  padding-left: 50px;
  position: relative;
}

.button-bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.button-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.button-basket-nav::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.user-navigation a:hover::before {
  opacity: 1;
}

.user-navigation a:active span {
  opacity: 0.6;
}

.user-navigation a:active::before {
  opacity: 0.5;
}

.site-navigation {
  margin: 0;
  padding: 0;
  box-shadow: 0px 6px rgb(41, 52, 73);

  list-style: none;
}

.main-header-logo {
  width: 220px;
}

.user-navigation {
  display: flex;
  width: 720px;
  margin-top: 0;
  margin-bottom: 0;
}

.user-navigation input {
  width: 270px;
  box-sizing: border-box;
  padding-left: 50px;

}

.user-navigation input::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.columns {
  width: 100%;
  margin-bottom: 47px;
}

.center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.columns .center {
  display: flex;
  justify-content: space-between;
}
/*----верхний хедер конец----*/
/*----средний хедер начало---*/
.headline {
  width: 300px;
}

.header-contacts {
  width: 300px;
}

.user {
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-columns {
  margin-bottom: 44px;
}

.index-columns .center {
  display: flex;
  justify-content: space-between;
}
/*-----средний хедер конец-----*/
/*-----нижний хедер начало-----*/
.nav-bar {
  margin-bottom: 60px;
}

.nav-bar .center {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  padding: 12.5px 30px;
  vertical-align: middle;
}

ul.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
}
/*----нижний хедер конец----*/
/*----майн начало----*/
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 413px;
}

.company {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*-----майн конец----*/
/*----футур начало---*/
.main-footer-nav .center {
  display: flex;
  justify-content: space-between;
}

.footer-social .center {
  display: flex;
  justify-content: space-between;
}

ul.footer-nav {
  display: flex;
}

ul.footer-site-nav {
  display: flex;
}

.main-footer-nav li {
  list-style: none;
  margin-left: 20px;
}

.main-footer {
  margin-top: 86px;
}

.footer-copy {
  width: 240px;
}

.social-buttons {
  width: 160px;
}

.footer-feedback {
  width: 140px;
}

.footer-copyright {
  width: 140px;
}

ul.social-icon {
  display: flex;
}
/*---футер конец почти---*/

/*---КАТАЛОГ----*/

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
}

.catalog-main {
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
}

.filters {
  width: 220px;
}


/*----каталог-карточки-товара----*/

.catalog-items {
  width: 700px;
  margin: 20px auto;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 218px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
}
.catalog-item {
  font-size: 16px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("img/new-flag.png") no-repeat 0 0;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315; 
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.actions .buy:focus,
.actions .buy:active {
  background-color: #518534;
  color: #ffffff;
}

.actions .bookmark:hover {
  border-color: #32425c;
}

.actions .bookmark:focus,
.actions .bookmark:active {
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

