body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  text-transform: none;

  background-color: #ffffff;
}

a {
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.card {
  font-family: "PT Sans", Arial, sans-serif;;
}

.columns {
  font-family: "Cuprum", Arial, sans-serif;
}

.site-navigation,
.columns {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #32425c;
}

.button-bookmarks:hover,
.button-basket:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.button-bookmarks:focus,
.button-bookmarks:active,
.button-basket:focus,
.button-basket:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.user-navigation {
  list-style: none;
}

.main-header-logo {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.number {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-header-logo:hover,
.logo-footer:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.main-header-logo:focus,
.main-header-logo:active,
.logo-footer:focus,
.logo-footer:active {
  background-color: #ba2732;
  color: #ffffff;
}

.button-basket-nav {
  background-color: #ee3643;
  color: #ffffff;
}

.catalog-main {
  background-color: #f2f6f8;
  color: #32425c;
}

.filters fieldset {
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.filters fieldset:nth-child(2) {
  margin-bottom: 57px;
}

.filters legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.filters .nutrition {
  font-size: 18px;
}

.filters ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;

}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:checked + label::before {
  content: "";

  position: absolute;
  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-checkbox:disabled + label span,
.filter-radio:disabled + label span {
  opacity: 0.4;
}

.filter-checkbox:disabled + label::before,
.filter-radio:disabled + label::before {
  opacity: 0.3;
}

.filter-checkbox:hover + label::before {
  background-image: url("../img/checkbox-off-active.svg");
}

.filter-checkbox:checked:hover + label::before {
  background-image: url("../img/checkbox-on-active.svg");
}

.filter-radio + label::before {
  content: "";

  position: absolute;
  left: -36px;
  top: -4px;

  height: 19px;
  width: 19px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-radio:checked + label::after {
  content: "";

  position: absolute;
  left: -27px;
  top: 5px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-radio:hover + label::before,
.filter-radio:focus + label::before {
  border-color: #b5b5b5;
}

.filter-radio:checked:hover + label::after,
.filter-radio:checked:focus + label::after {
  background-color: #b5b5b5;
}

.breadcrumbs a,
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
}

.breadcrumbs .home {
  content: "";
  position: absolute;
  width: 14px;
  height: 12px;
  top: 1px;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-catalog {
  margin-left: 13px;
}

.breadcrumbs a::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 12px;
  right: -22px;
  top: 1px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-items {
  list-style: none;
}

.catalog-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.catalog .button {
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #ee3643;
  color: #ffffff;
}

.entry,
.register {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.entry:hover,
.register:hover {
  color: #ee3643;
  background-color: #ffffff;
}

.entry:focus,
.entry:active,
.register:focus,
.register:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.order,
.office {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  background-color: #f1f5f7;
  text-decoration: underline;
}

.order__point::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  top: 7px;
  right: -19px;
}

.order:hover,
.office:hover {
  color: #ee3643;
  background-color: #f1f5f7;
}

.order:focus,
.order:active,
.office:focus,
.office:active {
  color: #c5cad0;
  background-color: #f1f5f7;
}

.columns {
  background-color: #293449;
  color: #ffffff;
}

.name-user {
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  position: relative;
  padding-left: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.name-user::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  left: 15px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background position: 0 0;
}

.name-user:hover::before {
  background-image: url("../img/icon-user-hover.svg");
}

.name-user:active::before {
  background-image: url("../img/icon-user.svg");
}

.white-rectangle {
  display: flex;
  position: relative;
  width: 300px;
  background-color: #ffffff;
}

.white-rectangle .logout {
  width: 44px;
  height: 44px;
  margin-left: 22px;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.logout:hover {
  background-image: url("../img/icon-logout-hover.svg");
}

.logout:active {
  background-image: url("../img/icon-logout.svg");
}

.logout {
  display: block;
  width: 43px;
  height: 44px;
}

.icon {
  color: #c5c5c5;
  background-color: #ffffff;
}

.name-user:hover {
  color: #000000;
  background-color: #ffffff;
}

.icon:hover {
  color: #32425c;
  background-color: #ffffff;
}

.name-user:focus,
.name-user:active,
.icon:focus,
.icon:active {
  color: #c5c5c5;
  background-color: #ffffff;
}

.site-navigation a,
.columns a {
  color: #ffffff;
}

.site-navigation a:hover {
  background-color: #293449;
  color: #ffffff;
}

.site-navigation a:focus {
  background-color: #1d2739;
  color: #a8abaf;
}

.main-header {
  background-color: #f1f5f7;
}

.main-header h1 {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: italic;
  line-height: 24px;
  color: #ee3643;
}

.number {
  font-size: 21px;
  line-height: 21px;
  color: #e9292a;
  width: 264px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 3px;
}

.number::after {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  left: 12px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background position: 0 0;
}

.number span {
  margin-right: 50px;
}

.adress {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  padding-left: 10px;
}

.user-navigation input {
  background-color: #293449;
  color: #ffffff;
  border: none;
}

.user-navigation input:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.user-navigation input:focus {
  background-color: #ffffff;
  color: #000000;
}

.button-basket-nav:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.button-basket-nav:focus,
.button-basket-nav:active {
  background-color: #ba2732;
  color: rgba(255, 255, 255, 0.5);
}

.button-checkout {
  font-size: 17px;
  line-height: 18px;
  background-color: #63a63e;
  color: rgba(255, 255, 255, 0.5);
}

.button-checkout:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.button-checkout:focus,
.button-checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.container {
  background-color: #ffffff;
  color: #000000;
}

.company-work {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.container h2 {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}

.button {
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
}

.button:hover {
  background-color: #ca2c37;
  color: #ffffff;
}

.button:focus,
.button:active {
  background-color: #ba2732;
  color: #ffffff;
}

.logo-footer {
  background-color: #ee3643;
  color: #ffffff;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  box-shadow: 0px 5px rgb(181, 41, 51);
  box-sizing: border-box;
  height: 63px;
  width: 220px;
  text-align: center;
  padding-top: 18px;
}

.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.main-footer-nav {
  background-color: #32425c;
  color: #ffffff;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.main-footer-nav li {
  list-style: none;
}

.footer-nav a {
  color: #ffffff;
}

.footer-site-nav a {
  color: #ffd180;
}

.footer-contacts {
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-social {
  color: #ffffff;
  background-color: #293449;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-social li {
  list-style: none;
  border-radius: 50%;
}

.footer-social .button {
  color: #f1c77c;
}

.main-footer-nav a:hover {
  text-decoration: underline;
}

.main-footer-nav a:focus,
.main-footer-nav a:active {
  color: #ad956f;
}

.footer-link {
  color: #ffd180;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-link:focus,
.footer-link:active {
  color: #ee3643;
}

.social-buttons {
  text-align: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: #ee3643;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.search-wrapper ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;

}
.search-wrapper ::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.search-wrapper :-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}
.search-wrapper :-moz-placeholder { /* Firefox 18- */
  color: white;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
}

/* ----- Сеточные стили ----- */
/*------подсветка-------*/
/** {
  background: rgba(255, 0, 0, 0.3);
}*/
/*------верхний хедер начало----*/
.main-header {
  margin-bottom: 20px;
}

.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-navigation a {
  display: block;
  box-sizing: border-box;
  padding: 11px 20px;
  vertical-align: middle;
  min-width: 150px;
}

.main-header-logo {
  height: 41px;
  box-shadow: 0px 5px rgb(181, 41, 51);
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

.site-navigation .active {
  background-color: #293449;
}

.user-navigation .button-bookmarks {

  padding-left: 44px;
  position: relative;
}

.user-navigation .button-basket {

  padding-left: 50px;
  position: relative;
}

.user-navigation .button-basket-nav {

  padding-left: 50px;
  position: relative;
}

.button-bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.button-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.button-basket-nav::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 16px;
  height: 18px;

  opacity: 0.3;
}

.user-navigation a:hover::before {
  opacity: 1;
}

.user-navigation a:active span {
  opacity: 0.6;
}

.user-navigation a:active::before {
  opacity: 0.5;
}

.main-header-logo {
  width: 220px;
}

.user-navigation {
  display: flex;
  width: 720px;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: space-between;
}

.user-navigation input {
  width: 270px;
  box-sizing: border-box;
  padding-left: 50px;
  height: 42px;
}

.search-wrapper {
  position: relative;
  display: inline-block;
}

.search-wrapper svg {
  position: absolute;
  top: 11px;
  left: 17px;
  fill: rgba(255, 255, 255, 0.3);

}

.user-navigation input:hover + svg {
  fill: #ffffff;
}

.user-navigation input:focus + svg {
  fill: #ee3643;
}

.columns {
  width: 100%;
  margin-bottom: 46px;
}

.center {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.columns .center {
  display: flex;
  justify-content: space-between;
}
/*----верхний хедер конец----*/
/*----средний хедер начало---*/
.headline {
  width: 200px;
  padding-left: 52px;
  margin: 0;
}

.header-contacts {
  width: 270px;
}

.header-contacts-catalog {
  width: 270px;
  margin-left: 15px;
}

.user {
  display: inline-block;
  width: 300px;
  height: 45px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-cabinet {
  display: flex;
  justify-content: space-between;
  width: 209px;
  padding-left: 18px;
  margin-top: 5px;
}

.user-cabinet li {
  list-style: none;
}

.user-index {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 282px;
}

.user__button {
  background-color: #ffffff;
  display: flex;
  width: 121px;
  height: 45px;
  justify-content: center;
  align-items: center;
}

.user__button_reg {
  width: 150px;
}

.user__button .entry {
  padding-left: 23px;
  position: relative;
}

.user__button .entry::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -9px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  width: 20px;
  height: 19px;
}

.user__button .entry:hover::after {
  background-image: url("../img/icon-login-hover.svg");
}

.user__button .entry:active::after {
  background-image: url("../img/icon-login.svg");
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 39px;
}

.index-columns .center {
  display: flex;
  justify-content: space-between;
}

.index-columns .number {
  border: 3px solid #ffffff;

}
/*-----средний хедер конец-----*/
/*-----нижний хедер начало-----*/
.nav-bar {
  width: 940px;
  height: 54px;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar .center {
  display: flex;
  justify-content: space-between;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: #ffffff;
  padding: 20px 30px 18px;
  text-align: center;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 25px;
  margin: 0 auto;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}
/*----нижний хедер конец----*/
/*----майн начало----*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 413px;
}

.company-contacts {
  display: flex;
  justify-content: space-between;
}

.company {
  margin: 0;
  padding: 0;
  list-style: none;
}

.company p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  width: 514px;
}

.company .button {
  display: inline-block;
  padding: 10px 40px;
  border-radius: 3px;
}

.company-work li {
  position: relative;
}

.company-work li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  left: -35px;
  top: 10px;
}

.contacts {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 300px;
}

.contacts p {
  margin-bottom: 30px;
}

.contacts .button {
  display: inline-block;
  padding-left: 64px;
  padding-right: 59px;
  padding-top: 11px;
  padding-bottom: 10px;
  border-radius: 3px;
}
/*-----майн конец----*/
/*----футур начало---*/
.main-footer-nav .center {
  display: flex;
  justify-content: space-between;
}

.footer-social .center {
  display: flex;
  justify-content: space-between;
}

ul.footer-nav {
  display: flex;
}

ul.footer-site-nav {
  display: flex;
}

.main-footer-nav li {
  list-style: none;
  margin-left: 20px;
}

.main-footer {
  margin-top: 86px;
}

.footer-copy {
  width: 240px;
}

.footer-feedback {
  width: 140px;
}

.footer-copyright {
  width: 140px;
}

.social-buttons ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 131px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
/*---футер конец почти---*/

/*---КАТАЛОГ----*/

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.catalog-main {
  margin: 0;
  padding: 0;
  margin-bottom: 78px;
}

.filters {
  width: 220px;
}

.filters .button {
  font-size: 13px;
  width: 140px;
  height: 38px;
  background-color: white;
  color: black;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  outline: none;
}

.filters .button:hover,
.filters .button:focus {
  background-color: white;
  color: black;
  border-color: #bdc6ca;
}

.filters .button:active {
  background-color: white;
  color: black;
  border-color: #ee3643;
}

.producer-name {
  border-bottom: 1px solid #e5e5e5;
}

/*----каталог-карточки-товара----*/

.goods-wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.catalog-items {
  width: 700px;
  margin: 20px auto;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 220px;
  margin-right: 17px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  background-color: #ffffff;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-items {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.catalog-item__new::before {
  position: absolute;
  content: "new";
  top: -68px;
  right: -53px;
  width: 30px;
  height: 60px;
  color: #ffffff;
  font-weight: 100;
  border: 27px solid #ee3643;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  line-height: 146px;
  font-size: 13px;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.catalog-item .actions .buy,
.catalog-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315; 
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.catalog-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  color: #ffffff;
}

.actions .buy:focus,
.actions .buy:active {
  background-color: #518534;
  color: #ffffff;
}

.actions .bookmark:hover {
  border-color: #32425c;
}

.actions .bookmark:focus,
.actions .bookmark:active {
  border-color: #c1c6ce;
  color: #c1c6ce;
}

.catalog-item .image {
  width: 220px;
  height: 168px;
}

.catalog-item .image img {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 18px;
  margin-top: 10px;
  margin-bottom: 11px;
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: auto;
  margin-bottom: 9px;
  color: #999;
  text-decoration: line-through;
  font-size: 17px;
  font-weight: bold;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 17px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
  margin-top: auto;
  font-size: 16px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

/*----всплывающие окна----*/

.modal-message {
  display: none;
}

.modal-map {
  display: none;
}

.modal {
  position: fixed;

  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-message {
  bottom: 92px;
  left: 50%;
  margin-left: -310px;
  border-top: 7px solid #ff5357;
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 13px;

  width: 21px;
  height: 21px;

  font-size: 0;

background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 25px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.message .message-name,
.message .message-text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
}

.message input[type="text"] {
  box-sizing: border-box;
  width: 220px;
  padding: 8px 13px;

  font: inherit;
  color: #a9a9a9;
  font-size: 13px;
  line-height: 18px;

  background-color: #ffffff;
  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.message textarea[type="text"] {
  box-sizing: border-box;
  padding-left: 13px;
  padding-top: 8px;
  font: inherit;
  font-size: 13px;
  line-height: 18px;
}

.message .button {
  width: 100%;
  margin-right: 0;
}

.message-text {
  width: 100%;
}

.message-text textarea {
  resize: vertical;
  border: 2px solid #dee3e4;
  border-radius: 3px;
  color: #a9a9a9;
  min-height: 115px;
}

.message .send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  background-color: #f4f4f4;
}

.send .button {
  display: inline-block;
  font-family: "Cuprum", Arial, sans-serif;
  width: 460px;

  border-radius: 3px;
  padding-bottom: 10px;
  padding-top: 11px;
}

.message .wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 46px;
  padding-bottom: 16px;
}

.message label {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  padding-bottom: 10px;
}

.modal-on {
  display: block;
}